.top-nav{
	background-color: #282561;
}

.table-container{
	background-color: #FFF;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 20px 120px 20px 120px;
	padding: 5px 20px 5px 20px;
}

.title{
	font-family: 'Roboto';
	font-weight: normal;
	margin-left: 140px;
	margin-top: 40px;
}

.table-title{
	font-family: 'Roboto';
	font-weight: normal;
	margin-left: 140px;
	margin-top: 40px;
}

.table-desc{
	margin-left: 140px;
	margin-right: 140px;
}

.data-table{
	font-size: 1.2rem;
	font-family: 'Roboto';
	margin-bottom: 0px;
}

.table-headers{
	color:#2FB5E3;
}

.form-desc{
	margin-top: 10px;
}
