<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/home.css') }}">
	    <link href="../static/css/bootstrap.min.css" media="all" rel="stylesheet">
	    <link href="../static/css/app.css" media="all" rel="stylesheet">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	</head>
	<body style="background-color: #F3F3F3">
		<nav class="navbar navbar-light top-nav">
	      <a class="navbar-brand" href="#">
	      	<div class="row">
	      		<div class="col-sm-4">
		      		<img src="../static/img/reel.png" height="100" class="d-inline-block align-top" alt="" style="filter: invert(100%);">
		      	</div>
		      	<div class="col">
		      		<h1 style="color:white;padding-top:22px;">CinEmotion</h1>
		      	</div>
		    </div>
	      </a>
	    </nav>
	    <div class="row">
		    <a href="/logout" style="padding-left: 140px;padding-top: 20px">Log out</a>
		</div>
	    <div style="padding-left: 125px;padding-top: 20px;padding-bottom: 20px;">
		    <h1>Enter a movie genre to search</h1>
			<p>The app will return popular movies of that genre. Additionally, it will provide an analysis of how Twitter feels about each movie based upon NLP of tweets about that movie.</p>
			<form action="/input" method="POST">
				<select name="submitText">
				    <option value="Action">Action</option>
				    <option value="Thriller">Thriller</option>
				    <option value="Horror">Horror</option>
				    <option value="Comedy">Comedy</option>
				    <option value="Adventure">Adventure</option>
				    <option value="Crime">Crime</option>
				    <option value="Documentary">Documentary</option>
				    <option value="Drama">Drama</option>
				    <option value="Family">Family</option>
				    <option value="Fantasy">Fantasy</option>
				    <option value="History">History</option>
				    <option value="Music">Music</option>
				    <option value="Mystery">Mystery</option>
				    <option value="Romance">Romance</option>
				    <option value="Science Fiction">Science Fiction</option>
				    <option value="TV Movie">TV Movie</option>
				    <option value="War">War</option>
				    <option value="Western">Western</option>
				</select>
				<input type="submit" name="" id="submitText" ><!-- <button onclick="smh();" type="button">Submit!</button> -->
			</form>
		</div>
		  <div class="table-container">
		    <table class="table table-hover table-borderless data-table">
		      <thead>
		        <tr class="table-headers">
		          <th scope="col"></th>
		          <th scope="col">Movie</th>
		          <th scope="col">Primary Emotion</th>
		          <th scope="col">Favorite</th>
		        </tr>
		      </thead>
		      <tbody>
				{% for movie in movies %}
		            <tr style="border-top: 1.5px solid #DDD;">
						<td><img src="https://image.tmdb.org/t/p/w500{{ images[movie] }}" height=125></td>
						<td>{{ movie }}</td>
						<td>{{ movies[movie] }}</td>
						<td><a href="#" class="fav"><i class="fas fa-heart"></i></a></td>
					</tr>
				{% endfor %}
		      </tbody>
		    </table>
		  </div>
	</body>
</html>
<script>
	function smh() {
		let query = document.getElementById("submitText").value;
		console.log("smh", query);

		var http = new XMLHttpRequest();
		http.onreadystatechange = () => {
			console.log("wub wub got a response");
		}

		http.open("POST", "http://127.0.0.1:5000/input", true);
		http.send();
	}

</script>